.metadata/
.metadata/*
*/.metadata/

bin/
target/
*.log
*.class

# Build
**/target/

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml
.project

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp

# Optional scripts
add-eureka
refactor